# Environment (default: production)
# Set to 'development' or 'production'
NODE_ENV=
# Rate limit configuration (requests per minute, default: 30)
RATE_LIMIT=
# Burst limit configuration (requests in 1 second, default: 20)
BURST_MAX=
# Allowed origins
ALLOWED_ORIGINS=
# Sentry (optional, for error tracking)
SENTRY_DNS_URL=
# Block with CORS (default: false)
# Set to 'true' or 'false' to enable or disable CORS blocking
BLOCK_WITH_CORS=
# Application port (default: 4646)
PORT=
# GoGoAnime URLs
# Primary and secondary sources (default: https://anitaku.bz/, https://gogoanime3.cc/)
GOGOANIME_URL=
GOGOANIME_URL2=
GOGO_AJAX_URL=
# Zoro URL (default: https://hianime.to/)
ZORO_URL=
# Anilist API URL (default: https://graphql.anilist.co)
ANILIST_API_URL=
# Jikan API URL (default: https://api.jikan.moe/v4) (This is the Unofficial API for MyAnimeList)
JIKAN_API_URL=
# Is use cron job (default: false)
IS_USE_CRON_JOB=
# MySQL Database Configuration
# Set IS_USE_MYSQL to 'true' to enable MySQL usage, otherwise 'false' (default: false)
IS_USE_MYSQL=
# Fill in the following variables only if IS_USE_MYSQL is set to 'true'
MYSQL_HOSTNAME=
MYSQL_USERNAME=
MYSQL_PASSWORD=
MYSQL_DATABASE=
# Contact Information
CONTACT_EMAIL=
# Documentation URL
DOCS_URL=
# Some App Information
APP_ROOT_MESSAGE=
APP_ROOT_NOTE=